*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Poppins", san-serif, serif;
    background-color: #000;
}

.container{
    width: 1000px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 100px auto;
    background-color: white;

    border: 7px solid #CF7500;
}

.card {
    display: flex;
    flex-direction: column;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#form label{
    color: #000;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
}

#form input {
    display: inline-block;
    padding: 12px 100px;
    border: 3px solid #000;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin-bottom: 20px;
}




.todo-card{
    display: flex;
    align-items: start;
    justify-content: start;
}

.list{
    display: flex;
}


.todo-card{
    display: flex;
    align-self: center;
}


.list-item div{
    display: flex;
    align-items: end;
    justify-content: center;
    /*flex-direction: column;*/
    gap: 143px;
}



.icon{
    color: red;
    height: 20px;
    cursor: pointer;
    display: flex;
}

.checked{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}








